#vname {
    width: 205px;
    height: 100px;
    font-size:44px;
} 
       
#zname {
    width: 100px;
    height: 100px;
    font-size:44px;
} 

#xbutton {
    width: 100px;
    height: 100px;
    font-size:44px;
} 
       
body {
    background-color: lightblue;
}
